{% extends 'base.html.twig' %}

{% block header %}
    {{ parent() }}
{% endblock %}
    {% block main %}
        <h1 class="wishlistTitle"> - All wishes ! -</h1>
        <div class="whislist">
            <ul>
                {% for wish in wishes %}
                    <li class="wishLi">
                        <a class="aList"href="{{ path('wish_details',{'id':wish.id}) }}">
                            {{ wish.title }} [{{ wish.category.name }}]
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </div>
    {% endblock %}
    {% block footer %}
        {{ parent() }}
    {% endblock %}
